abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body {
    margin: 0;
    background-color: rgba(247,247,247,255);
}

html, body{
    padding: 0;
    margin: 0;
    width: 98.93vw;
}
body{
    display: flex;
    flex-direction: column;
}

.headcont {
    background: white;
    display: flex;
    flex: 1;
    height: 10vh;
    width: 98.93vw;
    align-items: center;
    justify-content: space-between;
}

.headerest {
    display: flex;
    gap: 2vw;
}

.headerest>button, .findushere {
    font-weight: 900;
    font-size: 14px;
    border-color: pink;
    border-radius: 2px;
    color: rgb(104, 83, 87);
    background-color: rgba(247,247,247,255);
    transition: all 0.4s;
}

.headerest>button:hover {
    background-color: rgb(255, 226, 226);
    border-color: black;
}

.imghold {
    height: 100%;
    width: 110px;
    margin-left: 10px;
}

.imghold img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.footercont {
    background-color: white;
    width: 98.93vw;
    min-width: 98.93vw;
}

.footercont>img {
    height: 30vh;
    display: block;
    margin: auto;
}

.bodycont {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 98.93vw;
    margin-top: 1vh;
}

.find {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    gap: 1vh;
}

.maps {
    width: 60vw;
    height: 50vh;
    margin: auto;
    padding: auto;
}

.food {
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: rgba(247,247,247,255);
}

.foodimg {
    width: 50%;
    height: 100%;
    margin-left: 5%;
}

.foodflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 10vw;
}

.locat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7vh;
}

.locationtext {
    font-weight: 900;
    font-size: 14px;
    color: rgb(104, 83, 87);
    font-size: 30px;
}

.locationimg {
    width: 50%;
}